<body style="background-color: #fbfbfb;">
    <header class="cstm-header">
        <nav class="navbar navbar-expand-sm bg-clr navbar-dark header-nav-bar">
            <a class="navbar-brand" [routerLink]="['/home']">Health Monitor</a>
        </nav>
    </header>
    <section class="middal-section" style="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="title">Devices</h2>
                    <div class="add-title"><a [routerLink]="['/adddevices']">
                            <h5>Add Device</h5><span><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                        </a></div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card cstm-card">

                        <div class="card-body">

                            <div class="card-logo-area inside">
                                <figure><img src="../../assets/images/germin-logo.png" /></figure>
                            </div>

                            <div class="container-fluid card-detail">
                                <div class="row align-items-center bottom-border">
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding-left">
                                        <h3 class="first-h3">Forerunner</h3>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding-right">
                                        <div class="card-area-btn-small">
                                            <button class="button-new"><a href="">Connected</a></button>
                                        </div>
                                        <div class="card-area-btn-bottom"><span>Since<time> 07:08,20th
                                                    March,2020</time></span></div>
                                    </div>
                                </div>
                                <div class="row align-items-center bottom-border">
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding-left">
                                        <h3 class="first-h3 inactive-h3">Running Dynamic Pod 1</h3>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding-right">
                                        <div class="card-area-btn-small">
                                            <button class="button-new inactive-button-new"><a href="">Connected
                                                    Now</a></button>
                                        </div>
                                        <div class="card-area-btn-bottom"><span class="inactive-content">Last
                                                Connection<time> 07:08,20th March,2020</time></span></div>
                                    </div>
                                </div>
                                <div class="row align-items-center bottom-border">
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding-left">
                                        <h3 class="first-h3">Premium Heart Frequency HRM SWIM</h3>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding-right">
                                        <div class="card-area-btn-small">
                                            <button class="button-new"><a href="">Connected</a></button>
                                        </div>
                                        <div class="card-area-btn-bottom"><span>Since<time> 07:08,20th
                                                    March,2020</time></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card cstm-card">

                        <div class="card-body">

                            <div class="card-logo-area inside">
                                <figure><img src="../../assets/images/biovolution-logo.png" /></figure>
                            </div>

                            <div class="container-fluid card-detail">
                                <div class="row align-items-center bottom-border">
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding-left">
                                        <h3 class="first-h3 se-colour">Forerunner</h3>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding-right">
                                        <div class="card-area-btn-small">
                                            <button class="button-new se-bg"><a href="">Connected</a></button>
                                        </div>
                                        <div class="card-area-btn-bottom"><span>Since<time> 07:08,20th
                                                    March,2020</time></span></div>
                                    </div>
                                </div>
                                <div class="row align-items-center bottom-border">
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding-left">
                                        <h3 class="first-h3 inactive-h3">Running Dynamic Pod 1</h3>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding-right">
                                        <div class="card-area-btn-small">
                                            <button class="button-new inactive-button-new"><a href="">Connected
                                                    Now</a></button>
                                        </div>
                                        <div class="card-area-btn-bottom"><span class="inactive-content">Last
                                                Connection<time> 07:08,20th March,2020</time></span></div>
                                    </div>
                                </div>
                                <div class="row align-items-center bottom-border">
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding-left">
                                        <h3 class="first-h3 se-colour">Premium Heart Frequency HRM SWIM</h3>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding-right">
                                        <div class="card-area-btn-small">
                                            <button class="button-new se-bg"><a href="">Connected</a></button>
                                        </div>
                                        <div class="card-area-btn-bottom"><span>Since<time> 07:08,20th
                                                    March,2020</time></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card cstm-card">

                        <div class="card-body">

                            <div class="card-logo-area inside">
                                <figure><img src="../../assets/images/withings-logo.png" /></figure>
                            </div>

                            <div class="container-fluid card-detail">
                                <div class="row align-items-center bottom-border">
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding-left">
                                        <h3 class="first-h3 th-colour">Forerunner</h3>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding-right">
                                        <div class="card-area-btn-small">
                                            <button class="button-new th-bg"><a href="">Connected</a></button>
                                        </div>
                                        <div class="card-area-btn-bottom"><span>Since<time> 07:08,20th
                                                    March,2020</time></span></div>
                                    </div>
                                </div>
                                <div class="row align-items-center bottom-border">
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding-left">
                                        <h3 class="first-h3 inactive-h3">Running Dynamic Pod 1</h3>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding-right">
                                        <div class="card-area-btn-small">
                                            <button class="button-new inactive-button-new"><a href="">Connected
                                                    Now</a></button>
                                        </div>
                                        <div class="card-area-btn-bottom"><span class="inactive-content">Last
                                                Connection<time> 07:08,20th March,2020</time></span></div>
                                    </div>
                                </div>
                                <div class="row align-items-center bottom-border">
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding-left">
                                        <h3 class="first-h3 th-colour">Premium Heart Frequency HRM SWIM</h3>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding-right">
                                        <div class="card-area-btn-small">
                                            <button class="button-new th-bg"><a href="">Connected</a></button>
                                        </div>
                                        <div class="card-area-btn-bottom"><span>Since<time> 07:08,20th
                                                    March,2020</time></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </section>

    <div data-spm="footer" id="footer-bar" data-aplus-ae="x2_3d0459a0"
        data-spm-anchor-id="a2g0n.home.0.footer.121e78c95m2fY3">
        <div class="footer-item">
            <a id="footer-home" [routerLink]="['/home']" data-spm="d_home">
                <figure class="inactive-icon"><img src="../../assets/images/icon/home-inactive.png" width="40"
                        height="40"></figure>
                <figure class="active-icon"><img src="../../assets/images/icon/home-active.png" width="40" height="40">
                </figure>
                <span class="footer-text footer-active">Home</span>
            </a>
        </div>
        <div class="footer-item">
            <a id="footer-category" [routerLink]="['/steps']" data-spm="d_category">
                <figure class="inactive-icon"><img src="../../assets/images/icon/calnender-inactive.png" width="40"
                        height="40"></figure>
                <figure class="active-icon"><img src="../../assets/images/icon/calnender-active.png" width="40"
                        height="40"></figure>
                <span class="footer-text">Today</span>
            </a>
        </div>
        <div class="footer-item">
            <a id="footer-cart" [routerLink]="['/recommendations']" data-spm="d_shopcart">
                <figure class="inactive-icon"><img src="../../assets/images/icon/recomandation-inactive.png" width="40"
                        height="40"></figure>
                <figure class="active-icon"><img src="../../assets/images/icon/recomandation-active.png" width="40"
                        height="40"></figure>
                <span class="footer-text">Recommendation</span>
            </a>
        </div>
        <div class="footer-item">
            <a id="footer-account" [routerLink]="['/devices']" data-spm="d_account" class="active">
                <figure class="inactive-icon"><img src="../../assets/images/icon/devices-inactive.png" width="40"
                        height="40"></figure>
                <figure class="active-icon"><img src="../../assets/images/icon/devices-active.png" width="40"
                        height="40"></figure>
                <span class="footer-text">Device</span>
            </a>
        </div>
        <div class="footer-item">
            <a id="footer-account" [routerLink]="['/profile']" data-spm="d_account">
                <div class="profile-area">
                    <figure class="profilepik"><img src="../../assets/images/profile.jpg" width="40" height="40" />
                    </figure>
                </div>
                <span class="footer-text">Profile</span>
            </a>
        </div>
    </div>
</body>

<script>
    $('.footer-item a').click(function (e) {
        e.preventDefault();
        $('a').removeClass('active');
        $(this).addClass('active');
    });
</script>