<body>
  <nav class="navbar navbar-expand-sm bg-clr navbar-dark">
    <a class="navbar-brand" href="#">Logo</a>
    <ul class="navbar-nav ml-auto tab">
      <li class="nav-item">

        <button class="tablinks">Register</button>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" href="#">Sign In</a>-->
        <button class="tablinks">Sign in</button>
      </li>
    </ul>
  </nav>

  <section id="banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <figure>
            <img src="../../assets/images/login-background-img.jpg" class="img-fluid"
              style="width:100%;height:600px;" />

          </figure>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form">

          <div id="Tokyo" class="tabcontent">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="cst-form">
                <input type="text" formControlName="userName" placeholder="Username" class="brd"
                  [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">

                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                  <div *ngIf="f.userName.errors.required">User Name is required</div>
                </div>

                <input type="password" formControlName="password" placeholder="Password" class="brd"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div>

                <input type="submit" value="SIGN IN" class="bk-clr">
              </div>
            </form>
            <h2 style="text-align:center">OR</h2>


            <div class="cst-form1">
              <a href="#" class="fb btn">
                <i class="fa fa-facebook fa-fw"></i> LOGIN WITH FACEBOOK
              </a>
              <a href="#" class="google btn"><i class="fa fa-google fa-fw">
                </i> LOGIN WITH GOOGLE
              </a>
            </div>


          </div>

          <div id="Paris" class="tabcontent" style="display:none;">

            <div class="cst-form2 form">
              <input type="text" name="First Name" placeholder="First Name" class="brd" required>

              <input type="text" name="Last Name" placeholder="Last Name" class="brd" required>

              <input type="text" name="Address" placeholder="Address" class="brd" required>

              <input type="password" name="password" placeholder="Password" class="brd" required>

              <input type="submit" value="REGISTER" class="bk-clr">
            </div>

          </div>

        </div>

      </div>

    </div>
  </section>
</body>